/* fabric list */

.fabric {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding: 1em;
}

.fabric__top-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 97%;
}

.fabric__top-row h1 {
    color: var(--dark-color1);
    font-family: var(--heading-font);
    font-size: 42px;
}

.fabric__search {
    border: 2px solid var(--dark-color1);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fabric__search i {
    padding: 0 10px;
}

.fabric__search input {
    background-color: var(--light-color2);
    border: none;
    border-radius: 0 7px 7px 0;
    color: var(--dark-color1);
    font-family: var(--body-font);
    font-size: 16px;
    height: 36px;
    padding: 0 0.5em;
    outline: none;
}

.fabric__filter-display {
    background-color: var(--light-color1);
    border: 2px dashed var(--dark-color2);
    border-radius: 5px;
    color: var(--dark-color2);
    margin-top: 10px;
    padding: 15px;
}

.fabric__fabric-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 97%;
    margin: 0 auto;
}

.fabric__fabric-list-empty {
    text-align: center;
    width: 100%;
}

/* fabric card */

.fabric-card {
    align-items: center;
    background-color: var(--light-color2);
    border: 2px dashed var(--dark-color2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 23px 15px;
    min-height: 200px;
    max-height: 320px;
    width: 400px;
}

.fabric-card__top-row {
    align-items: center;
    display: flex;
    margin: 15px auto 0;
    height: 32px;
    width: 95%;
}

.fabric-card__delete-button,
.fabric-card__edit-button {
    cursor: pointer;
}

.fabric-card__title {
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.fabric-card__body {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
    width: 100%;
}

.fabric-card__body div {
    margin: 5px 5px;
}

.fabric-card__image-container {
    cursor: pointer;
}

.fabric-card__image {
    border: 2px solid var(--dark-color1);
    border-radius: 5px;
    height: 100px;
    object-fit: scale-down;
    width: 100px;
}

.fabric-card__properties {
    max-width: 70%;
}

.fabric-card__property {
    margin: 4px 0;
    word-wrap: break-word;
}

/* fabric details */

.fabric-details {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fabric-details__top-row {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97%;
}

.fabric-details__top-row-title {
    font-family: var(--heading-font);
    font-size: 42px;
    margin-bottom: 10px;
}

.fabric-details__top-row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fabric-details__top-row-buttons button {
    margin: 5px;
}

.fabric-details__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    width: 97%;
}

.fabric-details__image-container {
    border: 2px dashed var(--dark-color2);
    border-radius: 5px;
    /* height: 400px; */
    margin-right: 2em;
    /* max-width: 400px; */
}

.fabric-details__image-container img {
    height: 400px;
    width: 350px;
}

.fabric-details__content {
    margin-left: 2em;
    width: 50%;
}

.fabric-details__properties {
    display: grid;
    font-size: 24px;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

.fabric-details__notes {
    margin: 2em 0;
    width: 80%;
}

.fabric-details__notes-top-row {
    align-items: center;
    border-bottom: 2px solid var(--dark-color1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--heading-font);
    font-size: 36px;
    text-align: center;
}

.fabric-details__notes i {
    margin-left: 1em;
}

.fabric-details__notes-content {
    font-size: 18px;
    margin-top: 1em;
}

.edit-stock-form {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.edit-stock-input {
    background-color: var(--light-color2);
    border: none;
    border-radius: 6px;
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin: 0 1em;
    outline: none;
    padding: 0 9px;
    width: 3em;
}

.edit-stock-form i {
    margin: 0 10px;
}

.fabric-details__notes-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fabric-details__notes-form textarea {
    background-color: var(--light-color2);
    border: none;
    border-radius: 6px;
    font-family: var(--body-font);
    font-size: 16px;
    outline: none;
    margin: 1em 0;
    padding: 1em;
}

.fabric-details__notes-form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.edit-name-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.edit-name-form label {
    font-family: var(--body-font);
    font-size: 18px;
    margin-right: 1em;
}

.edit-name-form i {
    margin: 0 15px;
    font-size: 25px;
}

/* fabric form */

.fabric-form,
.fabric-form__form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fabric-form__title {
    color: var(--dark-color1);
    font-family: var(--heading-font);
    font-size: 36px;
    margin: 16px 0;
}

.fabric-form__form {
    width: 400px;
}

.fabric-form__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.fabric-form__form-group label {
    font-size: 18px;
    margin-left: 7px;
}

.fabric-form__form-group input,
.edit-name-form input,
.fabric-form__form-group select {
    background-color: var(--light-color2);
    border: none;
    border-radius: 6px;
    font-family: var(--body-font);
    font-size: 14px;
    height: 30px;
    outline: none;
    padding: 0 7px;
}

.fabric-form__form-group input {
    width: 285px;
}

.fabric-form__form-group select {
    width: 300px;
}

.fabric-form__form-subgroup {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.fabric-form__form-subgroup > div {
    margin: 0 6px;
}

.fabric-form__form-subgroup .fabric-form__form-group input {
    text-align: right;
    width: 130px;
}

.dollar {
    position: relative;
}

.dollar input {
    padding-left: 19px;
}

.dollar:before {
    content: '$';
    left: 9px;
    position: absolute;
    top: 5px;
}

.fabric-form__section-title {
    border-top: 2px solid var(--dark-color1);
    font-family: var(--heading-font);
    font-size: 30px;
    margin: 10px 0 10px;
    text-align: center;
    width: 100%;
}

.fabric-form__form-subgroup button {
    height: 45px;
    min-width: 130px;
}

.fabric-form__image-button-text {
    font-family: var(--heading-font);
    font-size: 20px;
    margin: 0 9px !important;
}

.fabric-form__image-upload-form,
.fabric-form__image-link-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-upload-group {
    margin-bottom: 2em;
    position: relative;
    text-align: center;
}

.image-upload-group input {
    color: var(--dark-color1);
    font-family: var(--body-font);
    font-size: 16px;
    position: absolute;
    left: -120px;
}

.image-link-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.image-link-group label {
    margin-left: 5px;
}

.image-link-group input {
    background-color: var(--light-color2);
    border: none;
    border-radius: 6px;
    font-family: var(--body-font);
    font-size: 14px;
    height: 30px;
    outline: none;
    padding: 0 7px;
    width: 250px;
}

.add-button-group {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.add-button-group i {
    margin-right: 5px;
}

.fabric-form__notes {
    background-color: var(--light-color2);
    border: 1px solid var(--dark-color1);
    border-radius: 5px;
    font-family: var(--body-font);
    font-size: 16px;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    resize: none;
    width: 100%;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* fabric filter modal */

.modal-backdrop {
    background-color: #333333dd;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.fabric-filter__modal {
    background-color: #ffffff;
    border: 2px dashed var(--dark-color2);
    border-radius: 7px;
    height: 300px;
    max-height: 100%;
    left: 50%;
    max-width: 100%;
    position: fixed;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.fabric-filter {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 20px;
    position: absolute;
    width: 100%;
}

.fabric-filter__title {
    font-family: var(--heading-font);
    font-size: 24px;
    margin-bottom: 10px;
}

.fabric-filter__filters {
    background-color: #cccccc;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 1em 1em 0.5em;
}

.fabric-filter__filters div label {
    margin-right: 1em;
}

.fabric-filter__filters div {
    margin-bottom: 10px;
}

.fabric-filter__filters div select {
    background-color: var(--light-color2);
    border: none;
    border-radius: 5px;
    height: 22px;
    font-family: var(--body-font);
    font-size: 16px;
    outline: none;
}

.fabric-filter__buttons button {
    font-size: 18px;
    height: 45px;
    min-width: 150px;
    margin: 0 1em;
}
