:root {
    --dark-color1: #2b4743;
    --dark-color2: #8c3839;
    --light-color1: #ffd3db;
    --light-color2: #cedeeb;

    --heading-font: 'Playfair Display', serif;
    --body-font: 'Montserrat', sans-serif;
}

body {
    box-sizing: inherit;
    color: var(--dark-color1);
    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

#root {
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    cursor: pointer;
}

button {
    background-color: var(--dark-color1);
    border: none;
    border-radius: 7px;
    color: var(--light-color1);
    cursor: pointer;
    font-family: var(--body-font);
    font-size: 24px;
    height: 56px;
    outline: none;
    min-width: 185px;
}
